{% extends 'admin/layout.html.twig' %} {# Ajusta según tu layout base #}

{% block title %}Nova receita{% endblock %}

{% block main %}

    <h1 class="mb-4">{{ 'income.create_title' | trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.amount) }}
    {{ form_row(form.description) }}
    {{ form_row(form.dueDate) }}
    {{ form_row(form.incomeTypeId) }}
    {{ form_row(form.residentId) }}

    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_income_list') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-list" aria-hidden="true"></i> {{ 'income.list_action'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
