{#
   This is the base template of the all backend pages. Since this layout is similar
   to the global layout, we inherit from it to just change the contents of some
   blocks. In practice, backend templates are using a three-level inheritance,
   showing how powerful, yet easy to use, is Twig's inheritance mechanism.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
{% extends 'base.html.twig' %}

{% block importmap %}
    {# Load both the app.js and admin.js entrypoints #}
    {{ importmap(['app', 'admin']) }}
{% endblock %}

{% block header_navigation_links %}
    <li class="nav-item{{ _route in ['admin_index', 'admin_post_index'] ? ' active' : '' }}">
        <a class="nav-link" href="{{ path('admin_expense_list') }}">
            <twig:ux:icon name="tabler:calendar-dollar"/> {{ 'menu.expense'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_income_list') }}">
            <twig:ux:icon name="tabler:license"/> {{ 'menu.income'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_slip_generation') }}">
            <twig:ux:icon name="tabler:brand-cashapp"/> {{ 'menu.slip'|trans }}
        </a>
    </li>
{% endblock %}

