{% set show_actions = show_actions|default(false) %}
{% set no_expenses_message_key = no_expenses_message_key|default('expense.list.no_expenses_for_month') %}

{% if expenses_list is defined and expenses_list is not empty %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm mb-0"> {# Adicionado table-sm para consistência #}
            <thead>
            <tr>
                {# Colunas baseadas em admin/expense/list.html.twig #}
                <th>{{ 'expense.field.description'|trans }}</th> {# Em list.html.twig, isso combina Tipo e Descrição #}
                <th>{{ 'expense.field.amount'|trans }}</th>
                <th>{{ 'expense.field.date'|trans }}</th> {# list.html.twig usa dueDate, generate.html.twig usa date #}
                <th>{{ 'expense.field.account'|trans }}</th>
                {% if show_actions %}
                    <th>{{ 'actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses_list %}
                <tr>
                    <td>
                        {# Lógica de admin/expense/list.html.twig para descrição combinada #}
                        {{ expense.type.name|default('') }}{% if expense.type.name and expense.description %} - {% endif %}{{ expense.description|default('') }}
                    </td>
                    <td>{{ (expense.amount / 100) | number_format(2, ',', '.') }} R$</td>
                    <td>
                        {# Tenta usar dueDate se disponível, senão usa date #}
                        {% if expense.dueDate is defined and expense.dueDate is not null %}
                            {{ expense.dueDate | date('d/m/Y') }}
                        {% elseif expense.date is defined and expense.date is not null %}
                            {{ expense.date | date('d/m/Y', timezone='America/Sao_Paulo') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ expense.account.code|default('') }}</td>
                    {% if show_actions %}
                        <td>
                            <a href="{{ path('admin_expense_edit', { id: expense.id }) }}"
                               class="btn btn-sm btn-outline-primary"> {# Classe de admin/expense/list.html.twig #}
                                <twig:ux:icon name="tabler:edit" class="me-1"/>{{ 'action.edit'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-muted ps-3 pt-2">{{ no_expenses_message_key|trans }}</p> {# Adicionado padding para mensagem de "sem despesas" #}
{% endif %}
