{# templates/admin/recurring_expense/_form.html.twig #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.amount) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.expenseType) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.frequency) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.account) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.dueDay) }}
        </div>
        <div class="col-md-8">
            {# Este campo es un ChoiceType con expanded=true, se renderizará como checkboxes #}
            {{ form_row(form.monthsOfYear) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.startDate) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.endDate) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.occurrencesLeft) }}
        </div>
        <div class="col-md-6 mt-4"> {# Pequeño ajuste de margen para alinear con el label #}
            {{ form_row(form.isActive) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.save) }}
        </div>
</div>
    {{ form_rest(form) }}
{{ form_end(form) }}
