{% extends 'admin/layout.html.twig' %}

{% block title %}Despesas Recorrentes{% endblock %}

{% block page_title %}Lista de Despesas Recorrentes{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Despesas Recorrentes</h3>
            <div class="card-tools">
                <a href="{{ path('admin_recurring_expense_generate') }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i> Nova Despesa Recorrente
                </a>
            </div>
        </div>
        <div class="card-body">
            <p>Lista de despesas recorrentes.</p>
            {# Aquí iría la tabla con las recurring_expenses #}
            {% if recurring_expenses is empty %}
                <p>Nenhuma despesa recorrente encontrada.</p>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Vencimento</th>
                            <th>Tipo de Despesa</th>
                            <th>Frequência</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in recurring_expenses %}
                            <tr>
                                <td>{{ expense.description }}</td>
                                <td>{{ (expense.amount / 100)|format_currency('BRL', {fraction_digit: 2}) }}</td>
                                <td>dia {{ expense.dueDay }}</td>
                                <td>{{ expense.expenseType.code }}</td>
                                <td>{{ expense.frequency }}</td>
                                <td>
                                    {# Aquí irían los botones de editar y eliminar #}
                                    <a href="{{ path('admin_recurring_expense_edit', {'id': expense.id}) }}" class="btn btn-warning custom-btn-xs">Editar</a>
                                    <a href="{{ path('admin_recurring_expense_edit', {'id': expense.id}) }}" class="btn btn-danger custom-btn-xs">Desativar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_expense_list') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-list" aria-hidden="true"></i> {{ 'expense.list_action'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
